.card {
  width: 100%;
  height: 576px;
  background-color: #ffffff;
  position: relative;
  border-radius: 10px;
}
.card__image {
  width: 100%;
  height: 272px;
  object-position: center;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.card__link {
  color: #1a1b22;
  text-decoration: none;
}
.card__date {
  color: #b6bcbf;
  font-family: "Source Sans Pro", 'Arial', 'Helvetica', sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-top: 20px;
}
.card__source {
  color: #b6bcbf;
  font-family: "Roboto Slab", 'Arial', 'Helvetica', sans-serif;;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  left: 24px;
  bottom: 24px;
}
.card__conteiner {
  width: calc(100% - 48px);
  margin: auto;
}
.card__title {
  font-family: "Roboto Slab", 'Arial', 'Helvetica', sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  margin: 12px 0 16px 0;
}
.card__text {
  font-family: "Roboto", 'Arial', 'Helvetica', sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  min-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  /* word-wrap: break-word; */
  text-overflow: ellipsis;
}
.card__image-background {
  position: absolute;
  top: 24px;
  right: 24px;
}
.card__save {
  background: url(../../images/save-normal.png) center no-repeat;
  background-size: 14px 19px;
  background-color: white;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  border: none;
  width: 40px;
  height: 40px;
}
[data-tooltip] {
  position: relative;
}
.card__save::after {
  content: attr(data-tooltip);
  position: absolute;
  width: 182px;
  top: 0;
  right: 45px;
  background-color: #ffffff;
  border-radius: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  pointer-events: none;
  opacity: 0;
  transition: 1s;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}
.card__delete::after {
  content: attr(data-tooltip);
  position: absolute;
  width: 159px;
  top: 0;
  right: 45px;
  background-color: #ffffff;
  border-radius: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  pointer-events: none;
  opacity: 0;
  transition: 1s;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}
[data-tooltip]:hover::after {
  opacity: 1; /* Показываем подсказку */
}
.card__save:active,
.card__save:focus {
  background: url(../../images/save-click.png) center no-repeat;
  background-size: 14px 19px;
  background-color: white;
  cursor: pointer;
  transition: 0.1s;
  outline: none;
}
/* .card__save.card__save_type_active {
  background: url(../../images/save-click.png) center no-repeat;
} */
.card__save:hover {
  background: url(../../images/save-hover.png) center no-repeat;
  background-color: white;
  cursor: pointer;
  transition: 0.4s;
  outline: none;
}
.card__icon {
  position: absolute;
  width: 100%;
  top: 24px;
  display: flex;
  justify-content: space-between;
}
.card__delete {
  width: 40px;
  height: 40px;
  background: url(../../images/delete.png) center no-repeat;
  background-size: 24px 24px;
  background-color: white;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  border: none;
  margin-right: 24px;
}

.card__delete:hover {
  background: url(../../images/delete-black.png) center no-repeat;
  background-color: white;
  cursor: pointer;
  transition: 0.4s;
  outline: none;
}
.card__keyword {
  background-color: white;
  border-radius: 8px;
  padding: 8px 12px 8px 12px;
  font-family: "Roboto", 'Arial', 'Helvetica', sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-left: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .card {
    height: 420px;
  }
  .card__image {
    height: 150px;
  }
  .card__image-background {
    top: 8px;
    right: 8px;
  }
  .card__date {
    margin-top: 16px;
  }
  .card__conteiner {
    width: calc(100% - 30px);
    margin: auto;
  }
  .card__title {
    font-size: 22px;
    line-height: 24px;
    margin: 12px 0 10px 0;
  }
  .card__text {
    font-size: 16px;
    line-height: 22px;
    -webkit-line-clamp: 4;
  }
  .card__source {
    left: 16px;
    bottom: 16px;
  }
  .card__icon {
    top: 8px;
  }
  .card__delete {
    margin-right: 8px;
  }
  .card__keyword {
    margin-left: 8px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1438px) {
  .card__text {
    -webkit-line-clamp: 3;
  }
}
@media screen  and (max-width: 999px) {
  .card__text {
    -webkit-line-clamp: 3;
  }
}
@media screen and (min-width: 495px) and ( max-width: 767px){
  .card__text {
    -webkit-line-clamp: 3;
  }
}
@media screen and (min-width: 495px) and (max-width: 618px){
  .card__title {
    font-size: 22px;
    line-height: 24px;
    margin: 10px 0 10px 0;
  }
}
@media screen and (max-width: 494px) {
  .card {
    height: 440px;
    margin-bottom: 10px;
  }
  .card__image {
    height: 196px;
  }
  .card__text {
    -webkit-line-clamp: 2;
  }
  .card__title {
    font-size: 22px;
    margin: 10px 0 10px 0;
    line-height: 26px;
  }
  .card__source {
    left: 16px;
    bottom: 16px;
  }
  .card__conteiner {
    width: 256px;
    margin: auto;
  }
}
