.saved__cards {
  background-color: #f5f6f7;
}
.saved__conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  margin-left: 102px;
  margin-right: 106px;
  padding: 62px 0 62px 0;
}
@media screen and (min-width: 769px) and (max-width: 1070px) {
  .saved__conteiner {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .saved__conteiner {
    margin-left: 40px;
    margin-right: 40px;
    padding: 32px 0 32px 0;
  }
}
@media screen and (min-width: 495px) and (max-width: 767px) {
  .saved__conteiner {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
    /* margin-left: 40px;
    margin-right: 40px; */
  }
}
@media screen and (max-width: 494px) {
  .saved__conteiner {
    display: block;
    width: 288px;
    margin: auto;
    padding: 24px 0 24px 0;
  }
}
