.search__content {
  background: url("../../images/background-search.png") no-repeat;
  /* background-size: 100%;
  background-position: center;
  background-attachment: fixed; */
  background-size: cover;
  color: white; 
  /* padding-top: 80px; */
   padding-bottom: 80px; 
}
.search__conteiner {
  width: 608px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.search__title {
  max-width: 608px;
  font-family: "Roboto Slab", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  margin: 80px auto 32px 0;
}
.search__text {
  max-width: 545px;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto 64px 0;
}
@media screen and (max-width: 768px) {
  .search__content {
    padding-bottom: 48px;
  }
  .search__conteiner {
    width: 452px;
    margin: auto;
  }
  .search__title {
    max-width: 385px;
    font-size: 36px;
    line-height: 40px;
    margin: 38px auto 16px 0;
  }
  .search__text {
    max-width: 452px;
    margin: 0 auto 48px 0;
  }
}
@media screen and (max-width: 320px) {
  .search__content {
    padding-bottom: 32px;
    background: url("../../images//backgraund 320px.png") no-repeat;
  }
  .search__conteiner {
    width: 285px;
    margin: auto;
  }
  .search__title {
    max-width: 285px;
    margin: 30px auto 19px 0;
  }
  .search__text {
    max-width: 288px;
    margin: 0 auto 122px 0;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .search__content {
    width: 100%;
  }
  .search__conteiner {
    width: calc(100% - 50px);
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .search__title {
    margin: auto;
    max-width: 285px;
    margin-bottom: 14px;
  }
  .search__text {
    margin: auto;
    max-width: 285px;
  }
}
